### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/TEMPLATE_LICENSE.txt

# CurseForge secrets
curseforge_api_key

#MISC
/TODO.txt
/CURSEFORGE.txt
/bkp/
/gradle/
/runs/
/run/
/.idea/
/.gradle/
/.build/
userdev-7.0.184.jar
/.gitattributes
/Test_Server/
/build/
